.App {
  text-align: center;
  height: 100%;
}

.message-list {
  outline: 1px solid black;
  height: 300px;
}

.message {
  background-color: rgb(116, 186, 248);
  padding: 0 3px;
  border-radius: 5px;
}
